/* CSS Reset */
html, body, div, h1, h2, h3, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* End of Reset */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
    font-family: 'Raleway', sans-serif;
	font-weight: normal;
	padding: 3rem 0;
	font-size: 1.5rem;
}

main {
    font-family: 'Raleway', sans-serif;
    border: solid 1px rgb(71, 69, 69);
    width: 20rem;
	border-radius: 1%;
	font-size: 1.1rem;
	height: 40rem;
	display: flex;
	flex-direction: column;
} 

.item {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

input {
	width: 10rem;
	border: solid .1px rgb(201, 95, 2);
}